body{
    background-color: bisque;
}
.heading{
    background-color: #c9622a;
}
.para{
    background-color: rgba(51,170,51,0.3);
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50%;
    padding-right: 50%;
}
/*dimensions*/
.box{
    background-color: aqua;
    width: 200






